DB_URL=postgresql://neondb_owner:npg_nv9g5GPDzEAd@ep-curly-term-ad6j92oh-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=8000
JWT_SECRET=iamsirjprogrammingheronextleveldeveloper